$black: rgba(51, 51, 51, 1);
$blue: rgba(1, 37, 105, 1);
$yealow: rgba(201, 145, 20, 1);
$white: rgba(255, 255, 255, 1);
$platium: rgba(224, 228, 231, 1);
$green: rgba(2, 164, 153, 1);
$pink: rgba(236, 69, 97, 1);
