<div class="adminLogin">
  <div class="container">
    <div class="row Login_content">
      <div class="col-xl-7 form_background"></div>
      <div class="col-xl-5 form_login">
        <div class="">
          <div class="form_login_logo">
            <img src="/assets/img/image_1@2x.png" alt="" srcset="" />
          </div>
          <form action="">
            <app-admin-in-put place="Email Address"></app-admin-in-put>
            <app-admin-in-put place="Password"></app-admin-in-put>
            <div class="check">
              <app-checkbox></app-checkbox>
            </div>
            <app-admin-btn></app-admin-btn>
            <div class="home">
              <i class="fas fa-home"></i>
              <span>Homepage</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
