mat-checkbox {
  font-size: 16pt;
}
::ng-deep .mat-checkbox-frame {
  width: 20pt;
  height: 20pt;
}
::ng-deep .mat-checkbox-background {
  width: 20pt;
  height: 20pt;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
  background-color: rgba(
    1,
    37,
    105,
    1
  ) !important; /* Red background for example */
}
::ng-deep .mat-checkbox-label {
  margin-top: 7pt;
  margin-left: 14pt;
  color: rgba(51, 51, 51, 1);
}
