<div class="dashboard">
  <div class="container">
    <div class="row dashboard_header">
      <div class="col-xl-4 student d-flex">
        <div class="content d-flex">
          <i class="fas fa-graduation-cap"></i>
          <p>Students</p>
        </div>
        <span class="number">
          32
        </span>
      </div>
      <div class="col-xl-4 tutor d-flex">
        <div class="content d-flex">
          <i class="fas fa-user-tie"></i>
          <p>Tutor</p>
        </div>
        <span class="number">
          8
        </span>
      </div>
      <div class="col-xl-4 parent d-flex">
        <div class="content d-flex">
          <i class="fas fa-user-friends"></i>
          <p>Parents</p>
        </div>
        <span class="number">
          16
        </span>
      </div>
    </div>
    <div class="row dashboard_body">
      <div class="col-xl-8 table"></div>
      <div class="col-xl-4 calender">
        <ejs-schedule height="833.33" [currentView]="setView"></ejs-schedule>
      </div>
    </div>
  </div>
</div>
