@import "../variable.scss";
.adminLogin {
  height: 120vh;
  background: center no-repeat;
  background-size: cover;
  background-color: $yealow;
  background-image: linear-gradient(120deg, $blue calc(35%), transparent 0),
    linear-gradient(-61deg, $white calc(34%), transparent 0);

  .container {
    height: 120vh;
    .Login_content {
      height: 120vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .form_background {
        height: 500pt;
        background: center no-repeat;
        background-size: cover;
        background-image: url("/assets/img/home-5_2x1.png");
      }
      .form_login {
        height: 500pt;
        padding: 0;
        -webkit-box-shadow: 9px 9px 9px -5px rgba(184, 182, 184, 1);
        -moz-box-shadow: 9px 9px 9px -5px rgba(184, 182, 184, 1);
        box-shadow: 9px 9px 9px -5px rgba(184, 182, 184, 1);
        .form_login_logo {
          height: 220px;
          background: $white;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        form {
          height: 500pt-220px;
          display: flex;
          flex-direction: column;
          background: $white;
          align-items: center;
          app-admin-in-put {
            width: 300pt;
          }
          .check {
            width: 300pt;
            margin: 20pt 0;
            display: flex;
            justify-content: flex-start;
          }
          .home {
            width: 300pt;
            margin: 20pt 0;
            display: flex;
            justify-content: flex-start;
            font-size: 16pt;
            i {
              font-size: 18pt;
              color: rgba(1, 37, 105, 1);
              margin-right: 10pt;
              opacity: 0.7;
            }
            span {
              color: rgba(1, 37, 105, 1);
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
