<div class="row Login_body">
  <div class="col-xl-7 background_admin"></div>
  <div class="col-xl-5 form_admin">
    <div class="form_login_logo">
      <img src="/assets/img/image_1@2x.png" alt="" srcset="" />
    </div>
    <form action="">
      <app-admin-in-put place="Email Address"></app-admin-in-put>
      <app-admin-in-put place="Password"></app-admin-in-put>
      <div class="check">
        <app-checkbox></app-checkbox>
      </div>
      <app-admin-btn></app-admin-btn>
      <a href="#">
        <div class="home_link">
          <i class="fas fa-home"></i>
          <span>Homepage</span>
        </div>
      </a>
    </form>
  </div>
</div>
